pre-commit~=2.13.0
black~=22.3.0
pandas~=1.3.5
pandas-stubs~=1.4.4
numpy~=1.23
statsmodels~=0.13.2
pyodbc~=4.0.34
SQLAlchemy~=1.4
jupyter~=1.0.0
flake8~=3.9.2
pylint~=2.15
tox~=3.25.0
pytest~=6.2.4
mypy~=0.971
safety~=1.10.3
liccheck~=0.6.0
pytest-cov~=2.12.1
dynaconf~=3.1.8
loguru~=0.6.0
tenacity~=8.0.1
seaborn~=0.11.2
